<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Parameterization Test Suite">

   <test name = "Testing Parameterization">
   	<parameter name="browserType" value="chrome"/>
	<parameter name="appURL" value="http://apps.qa2qe.cognizant.e-box.co.in/Cargo_Shipping_Cost"/>
      <classes>
         <class name = "testpakage.WebTestCustomer">
         	<!--<methods>
        		<include name="verifyTextForAir" />
        		<include name="verifyTextForShip" />
      		</methods>-->
         </class>
      </classes>
   </test>
</suite>  