<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Page Object Model in Selenium">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="testpakage.ListenerTest" />
		 <listener class-name="testpakage.CustomReporter" />
	</listeners>
	<test name="TestNG logs sample" preserve-order="true">
		<classes>
			<class name="testpakage.ShipmentTest">
				<methods>
					<include name="displayShipmentValues" />
				</methods>
			</class>
		</classes>
	</test>
</suite>  